<div ng-controller="DiseasesController">
	<div class="page-header">
		<h1>Add Disease To the Database</h1>
	</div>
	<div>
		<form name="diseaseForm" class="form-horizontal" ng-submit="create(diseaseForm.$valid)" novalidate>
			<fieldset>
				<div class="formgroup" show-errors>
					<h3>Disease Name:</h3>
					<input name="diseaseName" type="text" ng-model="diseaseName" id="diseaseName" class="form-control" placeholder="Disease Name" required>
					<div ng-messages="diseaseForm.diseaseName.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Disease Name is required</p>
					</div>
				</div>
				<h3>Suggested Treatments</h3>
				<table class="table table-striped">
					<tr ng-repeat="suggestion in suggestions">
						<td>
						<label for="suggestedTreatmentName">Suggested Treatment Name:</label>
						<input name="suggestedTreatmentName" type="text" ng-model="suggestion.name" id="suggestedTreatmentName" class="form-control" placeholder="Ex. Tobacco Cessation" required>
						
						<label for="suggestedTreatmentField">Field</label>
						<select name="suggestedTreatmentField" id="suggestedTreatmentField" ng-model="suggestion.field" required>
							<option ng-repeat="result in resultsFields" >{{result}}</option>
						</select>
						
						<!-- Optional Parameters for the disease suggestions (single for now, will add ability to add parameters-->
						<div>
							<h5>If Any Special Parameters for this Suggested Treatment (optional): </h5>
							<label for="specialConditionParameterName">Parameter Name:</label>
							<input name="specialConditionParameterName" type="text" ng-model="suggestion.specialConditionParameterName" id="specialConditionParameterName" placeholder="Ex. age">

							<label for="specialConditionParameterValue">Parameter Value:</label>
							<input name="specialConditionParameterValue" type="text" ng-model="suggestion.specialConditionParameterValue" id="specialConditionParameterValue" placeholder="Ex. > 25">  

							<button class="btn btn-warning suggestion" type="button" ng-click="removeSuggestion($index)" ng-hide="suggestions.length <= 1">Remove Suggestion</button>
						</div>
					</td>
					</tr>
					<tr><td><button class="btn btn-info suggestion" type="button" ng-click="addSuggestion()">Add Suggestion</button></td></tr>
				</table>
				<div class="col-md-12">
        	<div class="form-group">
        		<button type="submit" class="btn btn-primary submit">Submit</button>
					</div>
        	<div ng-show="error" class="text-danger">
          	<strong ng-bind="error"></strong>
        	</div>
        </div>
			</fieldset>
		</form>
	</div>
</div>

<!-- temporary, will change when connecting page to the website -->
<script src="../../../../public/lib/angular/angular.min.js"></script>
<script src="../controllers/disease.client.controller.js"></script>