<section ng-controller="PatientsController" ng-init="findDisease()">
  <div class="page-header">
    <h1>New Patient: Fill Out Minimum Details</h1>
  </div>
  <div class="col-md-12">
    <form name="patientForm" class="form-horizontal" ng-submit="create(patientForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstname">First name</label>
          <input name="firstname" type="text" ng-model="firstname" id="firstname" class="form-control" placeholder="First Name" required></input>
          <div ng-messages="patientForm.firstname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Patient first name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastname">Last name</label>
          <input name="lastname" type="text" ng-model="lastname" id="lastname" class="form-control" placeholder="Last Name" required></input>
          <div ng-messages="patientForm.lastname.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Patient last name is required.</p>
          </div>
        </div>
        <h2>Patient Information</h2>
        <table ng-repeat="ar in arr" class="table">
          <tr>
            <td class="half">{{arrObj[$index].title=getNameArr($index)}}:</td>
            <td class="half"><input type="text" name="arrInput" ng-model="arrObj[$index].content"></td>
          </tr>
        </table>
        <br>
        <h2>Vitals</h2>
        <table ng-repeat="numbe in number" class="table">
          <tr>
            <td class="half">{{numberObj[$index].title=getNameNumber($index)}}:</td>
            <td class="half"><input name="numberInput" type="text" ng-model="numberObj[$index].content"></td>
          </tr>
        </table>
        <br>  
        <h2>Diseases</h2>
        <table ng-repeat="disease in diseases" class="table">
          <tr>
            <td class="half">Do you have {{hasDisease[$index].title=disease.diseaseName}}?</td>
            <td class="half"><input type="checkbox" name="diseaseInput" ng-model="hasDisease[$index].content" ng-true-value="true" ng-false-value="false"></td>
          </tr>
        </table>
        <div class="form-group">
          <a href="/patients">Back to Patient Portal</a>
          <input type="submit" class="btn btn-default" label="Next Page">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
