<div class="container" ng-controller="AuthenticationController">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
   			  <span class="sr-only">Toggle navigation</span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
   			  <span class="icon-bar"></span>
  		  </button>
          <a ui-sref="home" class="navbar-brand">Health Risk Assessment</a>
  		</div>
      <form name="userForm" class ="form-inline" ng-hide="authentication.user" ng-submit="signin(userForm.$valid)">
        <div id = "userInput">
          <label class="sr-only">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" lowercase required>
          <label class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Password" required>
          <button type="submit" class="btn btn-primary">Sign in</button>
          &nbsp; or&nbsp;
      </div>
      </form>
      <ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
        <li class="dropdown" dropdown>
          <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
            <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
            <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" role="menu">
            <!--  Possible features to add
            <li ui-sref-active="active">
              <a ui-sref="settings.profile">Edit Profile</a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="settings.picture">Change Profile Picture</a>
            </li>
          -->
            <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
              <a ui-sref="settings.password">Change Password</a>
            </li>
            <!-- Possible feature to add
            <li ui-sref-active="active">
              <a ui-sref="settings.accounts">Manage Social Accounts</a>
            </li>
          -->
            <li class="divider"></li>
            <li>
              <a href="/api/auth/signout" target="_self">Signout</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
