<div class ="container" ng-controller="AuthenticationController">
  <section class="landing">
    <div class="col-sm-12 paddingless">
      <div class="col-md-3 col-sm-2 col-xs-1 paddingless"></div>
      <div class="col-md-6 col-sm-8 col-xs-10 paddingless welcome">
        <div class="row">
          <div class="page-header">
            <h1>Welcome.</h1>
          </div>
          <h4 class="description">
            Enter the appropriate information into the healthcare information application to generate a <strong>free</strong> and <strong>personalized</strong> health risk assessment.
          </h4>
          <h5 class="description">
            The limitations of a HRA are largely related to its usage and it is important to recognise that a HRA highlights health risks but does not diagnose disease and should not replace consultation with a medical or health practitioner.
          </h5>
        </div>
      </div>
      <div class="col-md-3 col-sm-2 col-xs-1 paddingless"></div>
    </div>
  </section>
</div>