<section ng-controller="PatientsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="patient.firstname + ' ' + patient.lastname"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == patient.user._id">
    <a class="btn btn-primary" ui-sref="patients.edit({patientId: patient._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="patient.created | date:'mediumDate'"></span>
      by
      <span ng-bind="patient.user.displayName"></span>
    </em>
  </small>
  <table class="table table-striped" align="center" id="patientInfoTable">
    <tr = ng-repeat="patientInf in patient.patientInfo">
      <td><p ng-bind="patientInf.title"></p></td>
      <td class = "pull-left"><p ng-bind="patientInf.content"></p></td>
    </tr>
    <tr = ng-repeat="hasD in patient.hasDisease">
      <td><p ng-bind="hasD.title"></p></td>
      <td class = "pull-left"><p ng-bind="hasD.content"></p></td>
    </tr>
    <tr = ng-repeat="vitalS in patient.vitalStats">
      <td><p ng-bind="vitalS.title"></p></td>
      <td class = "pull-left"><p ng-bind="vitalS.content"></p></td>
    </tr>
  </table>

</section>
