<section ng-controller="PatientsController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="patient.firstname + ' ' + patient.lastname"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == patient.user._id">
    <a class="btn btn-primary" ui-sref="patients.edit({patientId: patient._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="patient.created | date:'mediumDate'"></span>
      by
      <span ng-bind="patient.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="patient.firstname + ' ' + patient.lastname"></p>

  <div class="form-group" ng-repeat="patientInf in patient.patientInfo">
    <h4 class="list-group-item-heading" ng-bind="patientInf.title + ': ' + patientInf.content"></h4>
  </div>

  <div class="form-group" ng-repeat="hasD in patient.hasDisease">
    <h4 class="list-group-item-heading" ng-bind="hasD.title + ': ' + hasD.content"></h4>
  </div>

  <div class="form-group" ng-repeat="vitalS in patient.vitalStats">
    <h4 class="list-group-item-heading" ng-bind="vitalS.title + ': ' + vitalS.content"></h4>
  </div>

</section>
