.button_admin, .button_patient {
  font-family: monospace;
  font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 50px;
}

.admin_landing_button_div {
  margin-top: 5%;
}

.button_admin {
    background-color: #6495ED;
    color: #000000;
    width: 100%;
    height: 400px;
}

.button_patient {
    background-color: #5F9EA0;
    color: #000000;
    width: 100%;
    height: 400px;
}
