<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="survey.css" />
    <script src="gen%20info%20JS.js"></script>
  </head>

<!-- Insert header here -->
    <body>
        <h3>MEMBER EDUCATION: Routine Prevention per AHQR Adult Preventative Care Timeline</h3>
        <hr>
        <table class="info">
            <tr>
                <td>
                  <p>Education</p>
                </td>
                <td class="col-md-9">
                  <p>Notes</p>
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="tobacco" />Tobacco Cessation
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="tobacco_notes">
                </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="advance" />Advance Care Planning
              </td>
              <td class="col-md-9">
                <input type="text" class="form-control" id="advance_notes">
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="foot" />Foot Care
              </td>
              <td class="col-md-9">
                <input type="text" class="form-control" id="foot_notes">
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="activity" />Excercise/Physical Activity
              </td>
              <td class="col-md-9">
                <input type="text" class="form-control" id="activity_notes">
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="diabetic" />Diabetic Education
              </td>
              <td class="col-md-9">
                <input type="text" class="form-control" id="diabetic_notes">
              </td>
            </tr>
            <tr>
              <td>
                <input type="checkbox" name="diet" />Diet
              </td>
              <td class="col-md-9">
                <input type="text" class="form-control" id="diet_notes">
              </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="fall" />Fall Risk Education
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="fall_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="medication" />Medication
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="medication_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="screening" />Screening Studies
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="screening_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="vaccine" />Vaccinations
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="vaccine_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="bladder" />Bladder Control
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="bladder_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="prevent" />Preventative screening/vaccination information given
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="prevent_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="plan" />Plan Management
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="plan_notes">
                </td>
            </tr>
        </table>
        <h3>COLLABORATION</h3>
        <table class="info">
            <tr>
                <td>
                  <p>The following were contacted in regard to the visit:</p>
                </td>
                <td class="col-md-9">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="pcp" />PCP
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="pcp_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="ems" />EMS/911
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="ems_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="family" />Family/Legally Authroized Representative
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="family_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="health" />Health Plan Representative/Member Services
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="health_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="behavioral" />Behavioral Health Team
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="behavioral_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="aps" />APS
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="aps_notes">
                </td>
            </tr>
            <tr>
                <td>
                  <input type="checkbox" name="clinical" />Clinical Hotline
                </td>
                <td class="col-md-9">
                  <input type="text" class="form-control" id="clinical_notes">
                </td>
            </tr>
        </table>
        <!-- Insert pagination here -->
    </body>
</html>
