<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <link rel="stylesheet" href="survey.css" />
    <script src="gen%20info%20JS.js"></script>
  </head>

  <!-- Insert header here -->
  <body>
    <h4>5. Renal health<br>
      Is it time for me to have the following tests?</h4>
      <table class="info">
        <tr>
          <td class="col-sm-1">
            <input type="checkbox" name="creatine" value="creatine"/>Serum creatine
          </td>
          <td class="col-sm-1">
            <input type="checkbox" name="creatinine" value="creatinine"/>Creatinine clearance
          </td>
          <td class="col-sm-6">
            <input type="checkbox" name="GFR" value="GFR"/>Estimated GFR
          </td>
        </tr>
      </table>
      <h4>6. Immunizations<br>
          Is it time for me to have the following immunizations?</h4>
      <table class="info">
        <tr>
          <td class="col-sm-1">
            <input type="checkbox" name="flu" value="flu"/>Flu vaccine
          </td>
          <td class="col-sm-8">
            <input type="checkbox" name="Pneum" value="Pneum"/>Pneumovax
          </td>
        </tr>
        <tr>
          <td class="col-sm-1">
            <input type="checkbox" name="shingles" value="shingles"/>Shingles vaccine
          </td>
          <td class="col-sm-8">
            <input type="checkbox" name="Tetanus" value="Tetanus"/>Tetanus/diptheria/pertussis vaccine
          </td>
        </tr>
      </table>
      <h4>7. Prevention and wellness<br>
          Do I need to have any of the following?</h4>
      <table class="info">
        <tr>
          <td class="col-sm-1">
            <input type="checkbox" name="mammo" value="mammo"/>Mammogram
          </td>
          <td class="col-sm-1">
            <input type="checkbox" name="Pap" value="Pap"/>Pap smear
          </td>
          <td class="col-sm-6">
            <input type="checkbox" name="glaucoma" value="glaucoma"/>Glaucoma screening
          </td>
        </tr>
        <tr>
          <td class="col-sm-1">
            <input type="checkbox" name="bloodpressure" value="bloodpressure"/>Blood pressure follow-up
          </td>
          <td class="col-sm-p1">
            <input type="checkbox" name="Exercise" value="Exercise"/>Exercise Program
          </td>
          <td class="col-sm-6">
            <input type="checkbox" name="adv" value="adv"/>Advance directive
          </td>
        </tr>
        <tr>
          <td class="col-sm-1">
            <input type="checkbox" name="density" value="density"/>Bone density screening to check for oseoporosis
          </td>
          <td class="col-sm-p1">
            <input type="checkbox" name="smoke" value="smoke"/>Counseling or treatment for smoking cessation
          </td>
          <td class="col-sm-6">
            <input type="checkbox" name="PCP" value="PCP"/>Annual wellness visit with my PCP
          </td>
        </tr>
        <tr>
          <td class="col-sm-1">
            <input type="checkbox" name="urineleak" value="urineleak"/>Treatment for urine leakage
          </td>
          <td class="col-sm-p1">
            <input type="checkbox" name="risk" value="risk"/>Fail risk prevention measures
          </td>
          <td class="col-sm-6">
            <input type="checkbox" name="chol" value="chol"/>Cholesterol testing
          </td>
        </tr>
      </table>
      <table class="info">
        <tr>
          <td class="col-sm-1">
            <input type="checkbox" name="colon" value="colon"/>Screening for colon cancer (fecal occult blood, flexible sigmoidoscopy or colonoscopy)
          </td>
        </tr>
      </table>
      <br>
      <table class="info">
        <tr>
          <td class="col-sm-1">
            <h3>Labs collected during today's visit:</h3>
          </td>
          <td class="col-sm-1">
            <h3>Lab kit left with the member:</h3>
          </td>
        </tr>
        <tr>
          <td class="col-sm-1">
            <input type="checkbox" name="HgA1C" value="HgA1C"/>HgA1C &nbsp
            <input type="checkbox" name="LDL" value="LDL"/>LDL
          </td>
          <td class="col-sm-1">
            <input type="checkbox" name="colorectal" value="colorectal"/>Colorectal screening kit (FOBT)
          </td>
        </tr>
      </table>

    <!-- Insert pagination here -->
    </body>
</html>
